header{
background-color: rgb(238, 73, 73);
padding:20px 0;/* espaço em cima e embaixo do cabeçalho - espaço interno*/
}

.caixa{
    position: relative;/*menu dentro da caixa*/
    width: 940px;/*largura da caixa*/
    margin: 0 auto;relative
}

nav{
    position: absolute;
    top: 110px;
    right: 0 auto;relative

}
nav li{
    display: inline;
    margin: 0 0 0 15px;/*espaçamento interno*/
}

nav a{
    text-transform: uppercase; /* letras maiúsculas*/
    color:black (255, 255, 255); /* cor das letras pretas*/
    font-weight: bold; /* fonte negrito*/
    font-size: 22px; /*tamanho da fonte*/
    text-decoration: none;/* retirar o sublinhado do texto*/
}
img {
    width: 120px;
    height: 120px;
}